@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',-apple-system,Helvetica Neue,nimbus-sans,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
  line-height: 1.5;
}
h2 {
  font-weight: 100;
}
h3 {
  line-height: 1.5;
  font-size: calc(16px + 5 * ((100vw - 200px) / 1280));
  border-bottom: 1px solid #000;
  font-weight: 600;
  margin-bottom: 0;
}
h3 + p {
  margin-top: 5px;
}

.App {
  font: inherit;
  font-size: calc(4px + 24 * ( (100vw - 200px) / 1280));
  color: #252525;
}
.App-logo {
  width: 400px;
  pointer-events: none;
}
.App-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  padding: 10px 0 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.header-container ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.header-container ul li {
  padding-right: 2rem;
  cursor: pointer;
  color: #aaa;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}
.header-container ul li:hover {
  color: #252525;
}
.rc-collapse>.rc-collapse-item {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.logo-title {
  font-size: 2rem;
  margin-left: 1rem;
  color: #aaa;
}
.empty {
  height: 50px;
}
.container {
  margin: 0 auto;
}
.content-1 {
  max-width: 70%;
  margin: 0 auto;
}
.block {
  display: flex;
}

.block div {
  padding: 50px;
}
.block div h1{
  padding: 0;
  margin: 0;
}
.block div p {
  font-size: 16px;
}
.black {
  background: #252525;
  color: white;
  padding: 1rem 1rem 1rem 2rem;
}
.black p {
  font-size: 18px;
}
.contact p {
  font: inherit;
  vertical-align: baseline;
  font-size: calc(9px + 13 * ( (100vw - 200px) / 1280));
  line-height: 1.5;
}
footer {
  color: #666;
  font-size: 13px;
  line-height: 1.5;
}
footer .container {
    border-style:solid;
    border: 0;
    border-top: 1px solid #eee;
    padding: 2rem 0;
}
footer .container p {
  margin-bottom: 1rem;
}
.rc-collapse-content {
    padding-left: 24px;
    background: #234a6f!important;
    color: #fff!important;
    font-size: calc(9px + 13 * ( (100vw - 200px) / 1280))!important;
    font-weight: 400;
    -webkit-transition: 1s;
    transition: 1s;
    line-height: 1.5;
    padding: 1rem 2rem!important;
}
.rc-collapse > .rc-collapse-item {
    border-top: none!important;
}
.rc-collapse > .rc-collapse-item {
  font-size: calc(16px + 5 * ((100vw - 200px) / 1280))!important;
  padding-left: 24px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  color: #252525!important;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
      border-top: 5px solid transparent!important;
      border-bottom: 5px solid transparent!important;
      border-left: 8px solid #1967b3!important;
}
.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left: 5px solid transparent!important;
  border-right: 5px solid transparent!important;
  border-top: 8px solid #1967b3!important;
}

@keyframes react-reveal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 476px) {
  .container {
      max-width: 540px;
  }
  main{
    font-size: 18px;
  }
  .content-1 {
    max-width: 90vw;
  }
  .container {
    width: 90vw;
  }
  .block div {
      padding: 2rem;
  }
  .shrinkblock {
    font-size: 18px!important;
  }
  .rc-collapse > .rc-collapse-item {
    padding: 1rem;
  }
  .rc-collapse-content {
    font-size: 16px!important;
  }
  .contact p {
    font-size: 16px;
  }
  .header-container ul {
    display: none;
  }
  .header-container .App-logo {
    height: 3rem;
  }
  .empty {
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media screen and (min-width: 1200px){
  .container {
      max-width: 1140px;
  }
}
