@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',-apple-system,Helvetica Neue,nimbus-sans,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #222;
}
p {
  line-height: 1.5;
}
h2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 10px 0 20px 0;
  padding-top: 120px;
  font-weight: 100;
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}
h3 {
  line-height: 1.5;
  /* font-size: calc(16px + 5 * ((100vw - 200px) / 1280)); */
  font-weight: 600;
  margin-bottom: 0;
}
h3 + p {
  margin-top: 5px;
}
#about {
  padding-top: 30px;
}
a {
  color: #4fbbff;
}

.App {
  font: inherit;
  /* font-size: calc(4px + 24 * ( (100vw - 200px) / 1280)); */
  color: #fff;
}
.App-logo {
  width: 160px;
  pointer-events: none;
}
.App-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  padding: 30px 0 30px 0;
  background: #222;
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}
.header-container ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.header-container ul li {
  padding-right: 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}
.header-container ul li:hover {
  color: #4fbbff;
}
.rc-collapse>.rc-collapse-item {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.logo-title {
  font-size: 2rem;
  margin-left: 1rem;
  color: #aaa;
}
.container {
  margin: 0 auto;
}
.content-1 {
  margin: 0 auto;
}
.arrow {
  margin-right: 10px;
  display: inline-block;
  width: 0; 
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.contact p {
  font: inherit;
  vertical-align: baseline;
  font-size: calc(9px + 13 * ( (100vw - 200px) / 1280));
  line-height: 1.5;
}
.block {
  display: flex;
}

.block div {
  padding: 50px;
}
.block div h1{
  padding: 0;
  margin: 0;
}
.block div p {
  font-size: 16px;
}
.black {
  background: #f1f1f1;
  color: white;
  padding: 1rem 1rem 1rem 2rem;
  margin-top: 2rem;
  color: #4c4c4c;
}
.black p {
  font-size: 18px;
  color: #4c4c4c;
}
.sub-title {
  font-size: 18px;
  margin: 30px 0 10px 0;
}
.contract-item {
  line-height: 1.5;
}
footer {
  margin-top: 60px;
  font-size: 13px;
  line-height: 1.5;
}
footer .container {
    padding: 2rem 0;
}
footer .container p {
  margin-bottom: 1rem;
}

@keyframes react-reveal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 476px) {
  h2 {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 2rem;
  }
  p {
    font-size: 14px;
  }
  .container {
    max-width: 540px;
  }
  .sub-title {
    font-size: 16px;
  }
  .normal, .contract-item {
    font-size: 14px;
    line-height: 1.5;
  }
  main{
    font-size: 18px;
  }
  .content-1 {
    max-width: 90vw;
  }
  .container {
    width: 90vw;
  }
  .shrinkblock {
    font-size: 18px!important;
  }
  .contact p {
    font-size: 16px;
  }
  .header-container ul {
    display: none;
  }
  .header-container .App-logo {
    height: 3rem;
  }
  .block {
    display: none;
  }
  .black {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media screen and (min-width: 1200px){
  .container {
      max-width: 1140px;
  }
}
